<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MI PRIMER SERVER CON EXPRESS + EJS</title>
  </head>
  <body>
    <% include partials/navigation.ejs %>
    <h1>HELLOW WITH EJS + EXPRESS</h1>
  </body>
</html>
