<% include partials/navigation.ejs%>

<div class="container">
  <h1>Login Session </h1>
  <input type="text" name="Usuario" value="" placeholder="Usuario"><br>
  <input type="password" name="Clave" value="" placeholder="Clave"><br>
  <button type="button" name="button" aling="center"> Iniciar</button>
</div>
